<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylist.css') }}">
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
    <title>
        Uphold
    </title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <b>{{msg}}</b>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>