<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/uphold.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylist.css') }}">
    <style>
        table, th, td {
          border: 1px solid black;
        }
        input[type=button] {
            background-color: #093817;
            border: 2px solid white;
            color: white;
            text-align: center;
            font-family: Helvetica;
        }
        input[type=submit] {
            background-color: #093817;
            border: 2px solid white;
            color: white;
            text-align: center;
            font-family: Helvetica;
        }
    </style>
    <title>
        Uphold
    </title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <b>{{msg}}</b>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>