{% extends "base.html" %}
{% block content %}
<h2>Welcome, {{arr[0]}} {{arr[1]}}!</h2>
<h3>Request Statuses</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Field</th>
        <th>Job</th>
        <th>Meet Time</th>
        <th>Status</th>
    </tr>
    {% for req in requests %}
        <tr>
            <td>{{req.pro_first}} {{req.pro_last}}</td>
            <td>{{req.field}}</td>
            <td>{{req.job}}</td>
            <td>{{req.atime}}</td>
            <td>{{req.status}}</td>
        </tr>
    {% endfor %}
</table>
<br>
{% block jobs %}
{% endblock %}
<h3>Make a Request</h3>
<form action="" method="POST" id="former">
    <div>
        <label>Field</label>
        <select name="field" id="field">
            <option value="gender">Gender-Based</option>
            <option value="lgbt">LGBT-phobic</option>
            <option value="race">Racism</option>
            <option value="refugee">Anti-Refugee</option>
        </select>
    </div>
    <div>
        <label>Service</label>
        <select name="job" id="job">
            <option value="therapy">Therapy</option>
            <option value="legal">Legal Defense</option>
        </select>
    </div>
    <input type="hidden" id="latt" name="latt">
    <input type="hidden" id="long" name="long">
    <input type="submit" name="search" value="Search" id="search">
    <input type="button" onclick="getLocation()" value="Press for Location">
</form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<p id="demo"></p>
<script type=text/javascript>
var x = document.getElementById("demo");

function getLocation() {
    var pos = {};
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        document.getElementById("latt").value = "0";
        document.getElementById("long").value = "0";
    }
    document.getElementById('search').submit();
  }
  
  function showPosition(position) {
    document.getElementById("latt").value = position.coords.latitude;
    document.getElementById("long").value = position.coords.longitude;
  }
</script>
</form>
<br>

<form action="" method="POST">
    <input type="submit" name="logout" value="Logout">
</form>
{% endblock %}