{% extends "base.html" %}
{% block content %}
<h2>Welcome, {{arr[0]}} {{arr[1]}}!</h2>
<br>
<h3>Request Statuses</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Field</th>
        <th>Job</th>
        <th>Meet Time</th>
        <th>Status</th>
    </tr>
    {% for req in requests %}
        <tr>
            <td>{{req.pro}}</td>
            <td>{{req.field}}</td>
            <td>{{req.job}}</td>
            <td>{{req.atime}}</td>
            <td>{{req.status}}</td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
{% block jobs %}
{% endblock %}
<h3><a href="request">Make a Request</a></h3>
<form action="" method="POST">
<input type="submit" name="logout" value="Logout">
</form>
{% endblock %}