{% extends "base.html" %}
{% block content %}
<p>
    Username is {{arr[0]}}{% block pass %}{% endblock %}
</p>
<form action="" method="POST">
    <div>
        <label>MBTI: {{arr[1]}}</label>
        {% block mbti %}{% endblock %}
    </div>
    <br>
    <div>
        <label>DND: {{arr[2]}}</label>
        {% block dnd %}{% endblock %}
    </div>
    <br>
    <div>
        <label>Enneagram: {{arr[3]}}</label>
        {% block types %}{% endblock %}
    </div>
    <br>
    <br>
    <input type="submit" name="logout" value="{{arr[4]}}">
</form>
{% endblock %}